:root {
  --color-primary: #ff7b54;
  --color-text-on-primary: #fff;

  --color-button-border: var(--color-text-on-primary);

  --color-button-primary-bg: var(--color-text-on-primary);
  --color-button-primary-text: var(--color-primary);

  --color-button-secondary-bg: var(--color-primary);
  --color-button-secondary-text: var(--color-text-on-primary);

  --font-family: "Inter", sans-serif;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  font-family: var(--font-family);
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
/* inherits values from root */

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  /* grid-column-gap: 0px;
  grid-row-gap: 0px; */
  align-items: center;
  padding: 0 60px;
}

header > a {
  font-size: 40px;
  font-weight: bold;
}

/* header img {
  grid-area: shopping-cart;
} */
/* this was an example to make the shopping cart icon assign to its area, but is not needed here */

.nav {
  display: inline-block;
  justify-self: end;
}
/* inline-block lets items sit in the same line while retaining block property use such as margin */

.nav__list {
  list-style: none;
  display: flex;
}
/* formerly targeted "nav > ul" before adding class in HTML */
/* targets ul elements within the nav only */
/* list-style: none removed bullets from the ul list items */
/* flex default is horizontal/row */

.nav__list-item {
  /* margin-right: 36px; */
  /* margin: 0 36 0; */
  margin-inline-end: 36px;
  font-size: 20px;
}
/* formerly targeted "nav > ul li" before adding class in HTML */
/* margin-inline-end takes into account the directionality of different languages */

/* margin shorthand */
/* if 4 values: top right bottom left */
/* if 3 values: top/bottom right left */
/* single value applies to all sides */
